@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

*{
   margin: 0; 
   padding: 0;
   box-sizing: border-box;
   font-family: "Inter", sans-serif;
}
.section-one{
    background-color: #454444;
}
.container {
  max-width: 1300px;
  margin: 0 auto;
  
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1em ;
    color: white;
}
.logo{
    font-style: italic;
    color: #E6533C;
}
ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 2em;
    border: 1px solid gray;
    padding: 0.2em 1em;
    border-radius: 1em; 
    transition: 0.3s ease;
     
}
li:hover{
    background-color: #E6533C;
    border-radius: 2em;
    padding: 0em 1em;
     color: white;
     transform: scale(1.05);
     transition: 0.3s ease;
}

.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-texts{
    color: white;
    display: grid;
    gap: 1em;
}
.hero-title{
    font-size: 3.5em;
}
span{
    font: italic;
}
.first-paragraph{
    color: gray;
}
.hero-btn{
    color: white;
    background-color: transparent;
    padding: 0.7em 2em;
    border: 1px solid gray;
    border-radius: 1em;
}