@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

*{
   margin: 0; 
   padding: 0;
   box-sizing: border-box;
   font-family: "Inter", sans-serif;
}
.section-one{
    background-color: #454444;
}
.container {
  max-width: 1300px;
  margin: 0 auto;
  
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1em ;
    color: white;
}
.logo{
    font-style: italic;
    color: #E6533C;
}
ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 2em;
    border: 1px solid gray;
    padding: 0.2em 1em;
    border-radius: 1em; 
    transition: 0.3s ease;
     
}

li:hover{
    background-color: #E6533C;
    border-radius: 2em;
    padding: 0em 1em;
     color: white;
     transform: scale(1.05);
     transition: 0.3s ease;
}

.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-texts{
    color: white;
    display: grid;
    gap: 1em;
}
.hero-title{
    font-size: 3.5em;
}
.word-italic{
    font-style: italic;
}
.first-paragraph{
    color: gray;
}
.hero-btn{
    color: white;
    background-color: transparent;
    padding: 0.7em 2em;
    border: 1px solid gray;
    border-radius: 1em;
}
.hero-btn:hover{
   
    background-color: #E6533C;
    border-radius: 2em;
    /* padding: 0em 1em; */
     color: white;
     transform: scale(1.05);
     transition: 0.80s ease;

}
.hero-img{
    position: relative;
}
.workout-number{
    position: absolute;
    left: 5em;
    top: 4em;
    font-size: 3em;
    color: white;
    /* background-color:  gray; */
    background: rgba(128, 128, 128, 0.3);
    width: 3em;
    padding-left: 0.2em;
    /* padding-right: 0.2em; */
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    border-radius: 1rem;
    
}
.span-hero{
    font-weight: bold;
}
.workout-text{
    font-size: 13px;
}
.span-circle{
  height: 25px;
  width: 25px;
  background-color: orangered;
  border-radius: 50%;
  display: inline-block;
}


.tutorial-number{
    position: absolute;
    font-size: 3em;
    right: 6em;
    bottom: 1.5em;
    color: white;
    background: rgba(128, 128, 128, 0.3);
    width: 4em;
    padding-left: 0.2em;
    /* padding-right: 0.2em; */
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.tutorial-text{
    font-size: 13px;
}

@media (max-width: 933px){
    .hero{
        display: flex;
        flex-direction: column;
        padding-top: 4em;
    }
    .hero-img{
        padding-left: 4em;
    }
}

.section-two{
    background-color: black;
    color: white;
}
.habits-head{
    padding-top: 2em;
    text-align: center;
    display:grid ;
    gap: 1em;
}
.habits-divs{
    display: grid;
    gap: 4em;
    padding-top: 2em;
    padding-bottom: 6em;
}
.gym-id{
    display: flex;
    gap: 7em;
    
}
.habits-imgs{
    border-radius: 7em;
}
h4{
    text-align: center;
}
.img-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.7em;
}
.gym-id-paragraph{
    text-align: center;
    color: gray;
}

@media (max-width: 933px){
    .gym-id{
        display: flex;
        flex-direction: column;
        padding-top: 4em;
    }
    
}
.section-two{
    padding-bottom: 7em;
}
.run-extra-div{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #222222;
    padding: 4em;
    border-radius: 2em;
    
}
.run-header{
    font-size: 3em;
}
.discription-div{
    display: grid;
    gap: 2em;
    
}
.Join-btn{
    color: white;
    background-color: orangered;
    padding: 0.9em 4em;
    border: 1px solid gray;
    border-radius: 2em;
    width: 14em;
    border: none;
}
.run-img{
    width: 500px;
    border-radius: 2em;
}

@media (max-width: 933px){
    .run-extra-div{
        display: flex;
        flex-direction: column;
        padding-top: 4em;
        gap: 2em;
        margin-left: 1em;
        margin-right: 1em;
    }
    .run-img{
        padding: 2em;
        border-radius: 3em;
        margin-left: 1em;
        margin-right: 1em;
    }
}

.section-three{
    background-color: black;
    padding-bottom: 7em;
}
.training-head{
    padding-top: 2rem;
    padding-bottom: 2rem;
    color: white;
    margin-bottom: 2rem;
}
.training-header{
    padding-bottom: 1rem;
}
 .training-paragraph{
    color: gray;
 }
.grid-two-container{
    display: grid;
    gap: 1rem;
}
.grid-container{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: repeat(2, );
    gap: 1rem;
}
.grid-container-two{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: repeat(2, );
    gap: 1rem;
}


.grid-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  
}

.section-four{
    background-color: #222222;
    padding-top: 7em;
    padding-bottom: 7em;
    color: white;
}

.BMI-title{
    text-align: center;
   
}

.chart-calc{
    padding-top: 4em;
    display: flex;
    justify-content: space-between;
}
.chart-header{
    padding-bottom: 1em;
}

td, th{
    border: 1px solid gray;
    padding: 1rem;
}

.BMI-calc-texts{
    padding-bottom: 2rem;
}
.form-input{
    display: flex;
    gap: 1rem;
}


input{
    width: 50%;
    padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
#sex{
    width: 50%;
}

#activity{
    width: 100%;
    padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 1rem;
}

@media (max-width: 933px){
    .chart-calc{
        display: flex;
        flex-direction: column;
        padding-top: 4em;
        gap: 2em;
        padding-left: 2em;
        padding-right: 2em;
    }
    
    
}

.section-five{
    background: #000;
}
.team-head{
    text-align: center;
    color: white;
    padding-top: 4em;
    padding-bottom: 2em;

}
.team-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(2);
    gap: 1rem;
    padding-top: 4em;
    padding-bottom: 4em;
}

.team-img{
    width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 2em;
}

.team-divs{
    position: relative;
}

.trainer-name{
    position: absolute;
    bottom: 1em;
    left: 1em;
    font-size: 1.5em;
    color: white;
}
.trainer-prof{
    font-size: 0.7em;
}

@media (max-width: 933px){
    .team-container{
        display: flex;
        flex-direction: column;
        padding-top: 4em;
        margin-left: 2em;
        margin-right: 2em;
    }
    
}
footer{
    background-color: black;
}
.footer-spin{
    display: flex;
    justify-content: space-between;
    padding-top: 4em;
    padding-bottom: 4em;
    align-items: center;
    color: white;
    
}

.footer-paragraph{
    color: gray;
    padding-top: 1em;
}

h2{
    padding-bottom: 1em;
}

li{
    list-style: none;
    padding: 0.5em 0;
 
}
.footer-li > li{
color: gray;
}



@media (max-width: 933px){
    .footer-spin{
        display: flex;
        flex-direction: column;
        align-items:flex-start;
        gap: 2em;
        padding-left: 2em;
        padding-right: 2em;
    }
    
    
}